#home {
    width: 100%;
    margin-left: 100px;

    h1 {
        font-weight: 500;
        height: 100px;
        line-height: 100px;
        margin: 1% 4%;
        font-size: 28px;
    }

    .coint {
        width: 92%;
        margin: 1% 4%;
        clear: both;

        li {
            width: 25%;
            min-width: 300px;
            height: 100px;
            line-height: 100px;
            background: rgb(255, 255, 255);
            float: left;
            margin-bottom: 20px;
            margin-left: -40px;
            list-style: none;
            text-align: left;
            padding-left: 10px;

        }

    }

    .coint_name {
        @extend .coint;

        li {
            height: 30px;
            line-height: 30px;
            color: rgb(168, 168, 168);
            background: none;
        }
    }

    .crypto-icons {
        width: 30px;
        height: auto;
        display: inline-block;
        margin: auto 20px;
        margin-bottom: -5px;
    }
}

#select_patient {
    overflow: hidden;
    background: rgb(255, 255, 255);
    width: 92%;
    margin: 1% auto;

    form {
        padding: 10vh 0px;
        display: block;

        span {
            display: inline-block;
            overflow: hidden;
            height: 49px;
            margin: 10px 2% 0px 1%;
            width: 22%;
            min-width: 200px;
            float: right;
            text-align: right;
        }

        .uiButton {
            max-width: 22%;
            min-width: 200px;
            display: inline-block;
            overflow: hidden;
            height: 49px;
            margin: 10px 4% 0px 0%;
            width: 22%;
            min-width: 200px;
            float: right;
            text-align: right;

            input[type="button"] {
                float: right;
            }
        }

        .uiInput {
            overflow: hidden;
            display: inline-block;
            margin: 10px 1% 0px;
            width: 22%;
            min-width: 200px;
            padding: 0px;

            input {
                padding-left: 10%;
                padding-right: 10%;
                width: 78%;
                border: 1px solid rgba(33,33,33,0.2);
            }
        }

        .uiInputSelect {
            overflow: hidden;
            display: inline-block;
            margin: 10px 1% 0px;
            width: 22%;
            min-width: 200px;

            input {
                padding-left: 10%;
                padding-right: 10%;
                width: 78%;
                border: 1px solid rgba(33,33,33,0.2);
            }
        }
    }

}

#patient_info {
    overflow: hidden;
    background: rgb(255, 255, 255);
    width: 92%;
    margin: 1% auto;



    form {
        padding: 10vh 0px;
        display: block;

        span {
            display: inline-block;
            overflow: hidden;
            height: 49px;
            margin: 10px 2% 0px 1%;
            width: 22%;
            min-width: 200px;
            float: right;
            text-align: right;
        }

        .uiButton {
            max-width: 22%;
            min-width: 200px;
            display: inline-block;
            overflow: hidden;
            height: 49px;
            margin: 10px 4% 0px 0%;
            width: 22%;
            min-width: 200px;
            float: right;
            text-align: right;

            input[type="button"] {
                float: right;
            }
        }

        .uiInput {
            overflow: hidden;
            display: inline-block;
            margin: 10px 1% 0px;
            width: 22%;
            min-width: 200px;
            padding: 0px;

            input {
                padding-left: 10%;
                padding-right: 10%;
                width: 78%;
                border: 1px solid rgba(33,33,33,0.2);
            }
        }

        .uiInputSelect {
            overflow: hidden;
            display: inline-block;
            margin: 10px 1% 0px;
            width: 22%;
            min-width: 200px;

            input {
                padding-left: 10%;
                padding-right: 10%;
                width: 78%;
                border: 1px solid rgba(33,33,33,0.2);
            }
        }
    }
}